<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>998794501143-ric7ou8ngul0otvnosmlgaivlbcnom1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998794501143-ric7ou8ngul0otvnosmlgaivlbcnom1l</string>
	<key>API_KEY</key>
	<string>AIzaSyD21nn66GSQaQBTkxap1sU8Mf6gQ0bm4_s</string>
	<key>GCM_SENDER_ID</key>
	<string>998794501143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ordinationthai.idop</string>
	<key>PROJECT_ID</key>
	<string>ordination-thai</string>
	<key>STORAGE_BUCKET</key>
	<string>ordination-thai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998794501143:ios:06b5917523cb86ab</string>
	<key>DATABASE_URL</key>
	<string>https://ordination-thai.firebaseio.com</string>
</dict>
</plist>